{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p><br>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
        </div>
    {% endblock body %}
